html {
	box-sizing: border-box;
	font-size: 16px;
  }
  
  *, *:before, *:after {
	box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
  }
  
  ol, ul {
	list-style: none;
  }
  
  img {
	max-width: 100%;
	height: auto;
  }

  /* </html>
<div class="card">
    <a href="./pages/pokemons/vileplume.html">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/045.png" width="224" height="224">
        <div class="description">
            <div class="idPokemonHome">
                Nº 045
            </div>
            <div class="titlePokemonHome">
                <h2>Vileplume</h2>
            </div>
        </div>
    </a>
</div>