.navigation {
    height: 12vh;
    background-color: #d33f59;
}

.barra1 {
    padding: 2px 5px;
}

.link:hover {
    transition-duration: 0.5s;
    padding: 0.5%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
}

.logoPk {
    margin-top: 7px;
    margin-left: 9vh;
    float: left;
}

.content {
    background-color: #2E2E2E;
    text-align: center;
    height: 88vh;
    width: 100%;
}

.home,
.pokedex,
.cadastro {
    float: right;
    margin-left: 12px;
    margin-top: 11px;
}

.img {
    margin: 2% 3%;
    width: 15vw;
}

.img:hover {
    transition-duration: 0.5s;
    padding: 1%;
    border-radius: 10px;
    color: black;
    border: solid white 2px;
    background-color: rgb(163, 163, 61);
    box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
}