/* HEADER*/
.headerSection {
    background-color: rgb(219, 219, 28);
    min-width: 14vh;
}

.logo{
    margin: 25px 20px;
}

.navBar {
    width: 100%;
    overflow: auto;
}

.link {
    float: left;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size:20px;
    padding: 5px;
    margin: 15px 20px;
}
.link img {
    vertical-align: middle;
}


.navBar .link:hover {
    background-color: rgb(163, 163, 61);
    color: black;
}

.navBar-right {
    margin: 15px 20px;
    float: right;
}

/* navPage*/

.navPage {
    background-color: rgb(15, 226, 15);
    text-align: center;
    vertical-align: middle;
    line-height: 7vh;
}

.navOptions {
    padding: 0.5%;
    margin-left: 2vw;
    color: white;
}

.navOptions img {
    vertical-align: middle;
}
.navOptions:hover {
    transition-property: background-color;
    background-color: rgba(0, 0, 0, 0.3);
}

/* Content*/

.content {
    min-height: 78vh;
    background-color: #ededed;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.card {
    background-color: white;
    height: 224px;
    width: 224px;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    border: solid green 2px;
}

.card img {
    float: left;
}

.card:hover {
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;

    height: 250px;
    width: 600px;
}

.card:hover .contentCard {
    display: block;
}

.contentCard {
    display: none;
}

.description {
    margin: 3% 5%;
    text-align: left;
}

.col1,
.col2 {
    margin: 5%;
    text-align: center;
}

.col1 {
    float: left;
}

.col2 {
    float: right;
}

.title {
    font-weight: bold;
}

.subTitle {
    font-weight: lighter;
}