html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/**/

.background {
  background-color: #cf9bcc;
  height: 100vh;
  background-image: url("../imagem/CrownTundra.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 2330px 900px;
}

.navegationbar {
  background-color:#fff200;
}

.logo {
  margin-top: 0.8vh;
  margin-left: 3vh;
}

.home {
  margin-left: 165vh;
}

.pokedex {
  margin-left: 07vh;
}

.cadastro {
  margin-left: 07vh;
  height: 5vh;
}

.navegationpoke {
  background-color: #e06b69;
  height: 6vh;
}

.backPokemon{
  margin-left: 102vh;
  float: left;
  margin-top: 2vh;
  color: black;
}

.currentPokemon, .nextPokemon{
  float: left;
  margin-left: 14vh;
  margin-top: 2vh;

}
.link1{
  color: black
}

/* */
.interaction {
  min-height: 78vh;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.primarytitle{
  color:rgba(0, 3, 2, 1.2);
}

.sourcepokemon {
  background-color:#fff200;
  height: 250px;
  width: 250px;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: rgb(236, 3, 3) 1px 29px 100px;
  border: outset #e06b69  10px;
  border-radius: 20%;
}

.sourcepokemon img {
  float: left;
}

.sourcepokemon:hover {
  transition-duration: 0.7s;
  transition-timing-function: cubic-bezier(1, 0, 0, 4);
  height: 250px;
  width: 600px;
}
.atributes1,.atributes2 {
  margin: 5%;
}

.atributes1 {
  float: left;
}

.atributes2 {
  float: right;
}

.graficstas1{
  border-radius: 7%;
}

.Copyright{
  margin-top: 70px;
}